.pageWrapper {
    background: url('../public/schools-bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
    min-height: 100vh;  /* Ensures the background covers the full page */
}

.schoolsContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);  /* Semi-transparent white background */
    border-radius: 10px;
}

.schoolSection {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.schoolImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.schoolInfo {
    text-align: center;
}

.schoolInfo h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.schoolBlurb {
    font-size: 16px;
    color: #555;
}

.subjectsTable {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

.subjectsTable th, .subjectsTable td {
    padding: 10px;
    text-align: left;
}

.subjectsTable thead th {
    background-color: transparent; /* Make the background transparent */
    color: #333; /* Change the text color */
    font-size: 16px; /* Slightly smaller font size */
    border-bottom: 1px solid #ccc; /* Subtle bottom border */
}

.subjectsTable tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternating row colors */
}
